/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen';
}

/* Banner starts from here */
.banner-container{
    max-width: 1920px;
    height: 850px;
    background-color: #FCEEF1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 240px 0px;
    margin: 0 auto;
    gap: 90px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.banner-p{
    color: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    margin-bottom: 32px;
    width: 80%;
}
.primary-btn{
    background-color: #E65274;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.primary-btn:hover{
    background-color: #c01c42;
}
.banner-photo{
    height: 800px;
    width: 635px;
    margin-top: 29px;
}

/* Featured starts from here */
.featured-container{
    padding-top: 170px;
    margin: 0 auto;
    max-height: 1539px;
    text-align: center;
}
.featured-title{
    color: #272727;
    font-size: 32px;
    margin-bottom: 24px;
}
.featured-p{
    color: rgba(20, 20, 20, 0.6);
    text-align: center;
    font-size: 18px;
}
.cards-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
    text-decoration: underline;
    padding-top: 48px;
    max-width: 1440px;
    flex-shrink: 0;
    margin: 0 auto;
}
.pink{
    background-color: #F2DEE7;
    width: 400px;
    height: 430px;
    flex-shrink: 0;
    padding: 110px 78px 0px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background-repeat: no-repeat;
}
.sun{
    background-color: #DAEFF1;
    width: 400px;
    height: 430px;
    flex-shrink: 0;
    padding: 117px 47px 50px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background-repeat: no-repeat;
}
.yellow{
    background-color: #E3ECDC;
    width: 400px;
    height: 430px;
    flex-shrink: 0;
    padding: 67px 75px 0px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background-repeat: no-repeat;
}
.card-p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    cursor: pointer;
}
.support-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #F4F4F4;
    max-width: 1440px;
    max-height: 250px;
    flex-shrink: 0;
    margin: 128px auto;
    padding: 85px 175px;
    border-radius: 10px;
}
.icon{
    height: 80px;
    width: 80px;
}
.support-p{
    padding-top: 5px;
    font-size: 18px;
    color: #262626;
}

/* Deals starts from here */
.deal-container{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #FCEEF1;
}
.deal-title{
    font-size: 32px;
    font-weight: bold;
}
.off{
    color: #E65274;
    font-weight: bold;
}
.deal-p{
    padding: 15px 0px;
}
.deal-img{
    height: 300px;
    width: 250px;
}

/* Instagram starts from here */
.instagram-container{
    padding: 0px 240px;
    margin: 120px auto;
}
.instagram-info{
    text-align: center;
}
.instagram-title{
    font-size: 32px;
    padding-bottom: 10px;
}
.instagram-flowers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 10px;
}
.four{
    background-repeat: no-repeat;
    border-radius: 5px;
}

/* Coupon starts from here */
.coupon-container{
    margin: 0px 240px;
    padding: 120px;
    background-image: url("./Cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 8px;
}
.coupon-title{
    font-size: 32px;
    margin-bottom: 20px;
}
.mail{
    margin-top: 10px;
}
#email{
    padding: 14px 15px;
    border: none;
    border-color: none;
    border-radius: 5px;
    width: 60%;
}
