/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen';
}

/* Banner starts from here */
.banner-container{
    max-width: 1920px;
    height: 850px;
    background-color: #FCEEF1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 240px 0px;
    margin: 0 auto;
    gap: 90px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.banner-p{
    color: rgba(27, 27, 27, 0.6);
    font-size: 18px;
    margin-bottom: 32px;
    width: 80%;
}
.primary-btn{
    background-color: #E65274;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.primary-btn:hover{
    background-color: #c01c42;
}
.banner-photo{
    height: 800px;
    width: 635px;
    margin-top: 29px;
}

/* Featured starts from here */
.featured-container{
    padding: 170px 0px 120px;
    margin: 0 auto;
    height: 1539px;
    text-align: center;
}
.featured-title{
    color: #272727;
    font-size: 32px;
    margin-bottom: 24px;
}
.featured-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}
.three-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.box1{
    height: 538px;
    width: 464px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background-color: #F2DEE7;
}
.box2{
    height: 538px;
    width: 464px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background-color: #DAEFF1;
}
.box3{
    height: 538px;
    width: 464px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background-color: #E3ECDB;
}
.box-img1{
    margin: 110px 76px 0px;
}
.box-img2{
    margin: 117px 48px 50px;
}
.box-img3{
    margin: 67px 75px 0px;
}
.name{
    text-decoration: underline;
    margin-top: 20px;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}